.mainTitleDiv{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 30px;
    /* margin-top: 10px;
    margin-left: 10px; */
    justify-content: center;
    
}
.login-MetaIcon{
    float: left;
    margin-top: 27px;
    margin-right:15px;
    width:80px;
    height: 80px;
    background-image: url('../../images/icons/meta-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.TitleText{
    float: left;
    font-size: 60px;
    font-weight: bolder;
}
.googleBtn{
    cursor: pointer;
    position: relative;
    display:flex;
    align-items: center;
    width: 380px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 30px auto;
    border:none;
    /* font-size:20px; */
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}
.googleLogo{
    position: absolute;
    left:15px;
    width:20px;
    height: 20px;
    background-image: url('../../images/logos/google-logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.findDiv{
    cursor: pointer;
    color:rgb(109, 29, 109);
    position: absolute;
    top:-1px;
    right:90px;
    font-size:15px;
}
.signupBtn{
    background: #ffffff;
    color:#141060;
}
.hrLine {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #555454;
    font-size: 12px;
    margin: 20px 80px;
    margin-top:40px;
}
.hrLine::before,
.hrLine::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 20px;
}
.maintainDiv{
    position: relative;
    margin-left:85px;
    text-align: left;
    justify-content: center;
    font-size:13px;
}
.checkStyle{
    cursor: pointer;
    margin-bottom: 0px;
    
}
.checkLabel{
    /* cursor: pointer; */
}