body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Background{
    /* background-image: url(../../images/backgrounds/startbackground.png);
    background-repeat: no-repeat;
    background-size: cover; */

    /* background-color: rgb(255, 226, 226); */
    width:100%;
    /* background-position: left top; */
    /* height: 100%; */
    position:relative;
    margin:0;
    /* padding-top:104px; */
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    width: 100%;
        height: 100%;
        /* background-image: url('이미지 주소'); */
        background-size: cover;
        background-position: center;
    background-color: #9a86ff;
    
}
.MainBackground{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.WhiteBox{
    /* position:fixed; */
    /* top:40px;
    left: 30px; */
    /* display: inline-block;
    position:static;
    margin-top:26px; */
    /* position:static;
    margin :auto;
    margin-top:0px; */
    /* display:flex; */
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    margin :0px auto;
    width: 550px;
    height: 800px;
    left: 130px;
    top: 130px;
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;  
}

.Background2{
    width: 100vw;
    height: 100vh;
    background-color: #bfbcf7;
    position:relative;
    margin:0;
    /* padding-top:104px; */
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    /* background-image: url('이미지 주소'); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.WhiteBox2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    padding: 20px;
    background-color: white;
    z-index: 1;
    width: 550px;
    height: 770px;
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}


.inputDiv{
    position: relative;
    margin:20px 0;
}
.labelDiv{
    /* position: absolute; */
    /* width: 100%; */
    text-align: left;
    margin-left: 85px;
    /* color: #555454; */
    font-size:15px;
}
.inputBox{
    /* white-space: pre; */
    margin:10px 0;
    border:none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 365px;
    height: 40px;
    padding-left: 10px;
}
.inputBox:focus{
    outline: 2px solid #9a86ff;
}
.blueBtn{
    /* display: flex; */
    /* float: left; */
    /* margin-left:85px; */
    /* margin-right:85px; */
    cursor: pointer;
    /* width: 180px; */
    width: 380px;
    height: 45px;
    background: #775EEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 10px;
    color:white;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}
.whiteBtn{
    /* display: flex; */
    /* float: left; */
    /* margin-left:85px; */
    /* margin-right:85px; */
    cursor: pointer;
    /* width: 180px; */
    width: 380px;
    height: 45px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 10px;
    color:#775EEE;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}
.maintainDiv{
    position: relative;
    margin-left:85px;
    text-align: left;
    justify-content: center;
    font-size:13px;
}
