.container {
    background-color: #E3ECF1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidebar {
    background-color: #E3ECF1;
    border-left: 4px solid #202020;
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    transition: 0.4s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
    border: none;
    border-radius: 30px 0 0 30px;
}
.button {
    position: relative;
    left: -50px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 99;
    transition: 0.8s ease;
    border: 1px solid #202020;
    border-radius: 40px;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button:focus {
    border: none;
    outline: none;
}

.openBtn {
    width: 100%;
    height: 100%;
}
.content {
    padding: 0px 40px 0 20px;
    position: relative;
    width: 100%;
}
.icon {
    margin: 0;
    color: #202020;
}

.innerContent {
    /* margin-left: 30px; */
}
