.TitleDiv{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* margin-top: 10px;
    margin-left: 10px; */
    justify-content: center;
    
}
.custom-MetaIcon{
    float: left;
    margin-top: 15px;
    margin-right:15px;
    width:80px;
    height: 80px;
    background-image: url('../../images/icons/meta-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.CustomText{
    float: left;
    font-size: 40px;
    font-weight: bolder;
    margin-right:900px;
}
.characterBox{
    width:100px;
    height:100px;
    background-color: rgb(195, 195, 195);
    text-align: center;
    margin:20px auto;
}
.customBox{
    width: 90%;
    height:500px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    margin:0px auto;
    border-radius: 20px;
}
.customBtn{
    display: flex;
    float: right;
    /* margin-left:85px; */
    margin-right:70px;
    cursor: pointer;
    /* width: 180px; */
    width: 250px;
    height: 40px;
    background: #141060;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 10px;
    color:white;
    text-align: center;
    margin-top:40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.LeftArrowBtn{
    position: absolute;
    top:50%;
    left:20px;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
}
.RightArrowBtn{
    position: absolute;
    top:50%;
    right:20px;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
}